/* U ovom file-u pišemo naš custom css, to jest, menjamo (override-ujemo) 
postojeće bootstrapove stilove koje dobijamo iz fajla blog.css. 
Override radimo tako što “pojačavamo” selektore na već postojeće klase 
ili pomoću !important komande. */


/* HTML i Css: 
Naslovi postova na home stranici treba da budu linkovi
    Smanjiti veličinu fonta na celom projektu na 14px (html element)
    Promeniti boju pozadine navbar-a: #b34848
    Zameniti boju svih naslova (ne samo naslova postova) bojom #b34848
    Naslovi postova na hover treba da ostanu iste boje, samo će dobiti underline. */





/*
 * Globals
 */


html {
    font-size: 14px !important;    
}


h1,
.h1,
h2,
.h2,
h2 a,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #b34848 !important;
    
}

.blog-masthead {
    background-color: #b34848 !important; 
}

.blog-post-title:hover {
    color: #b34848;
    text-decoration: underline !important;
    text-decoration-color:  #b34848;
}

#hiddenDelete {
    display: none;
}

.justify {
    text-align: justify;
}

.wrap {
    word-wrap: break-word;
}

.headerFlex {
    display: flex;
    justify-content:space-between;
}